.DeckBuilder {
  display: flex;
}

.Wrapper {
  width: 80%;
}

.Title {
  width: 60%;
  margin-left: 1rem;
}

.Title h2 {
  text-align: center;
}

.Title label {
  cursor: pointer;
}

.Title label,
.Title input {
  margin-right: 1rem;
}

.SelectFaction {
  align-items: center
}

.DeckSummary {
  width: 20%;
  position: sticky;
  top: 50px;
  height: 100%;
}

