.Battleground {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  grid-gap: 1.2rem 0rem;
}

.Line {
  display: grid;
  grid-template-columns: repeat(2, 100px) 0.75rem repeat(4, 100px) 0.75rem repeat(2, 100px);
  margin-bottom: 1rem;
  grid-column-gap: 2px;
}

.F1 {
  margin-bottom: 3px;
}