.Faction {
  position: relative;
}

.Logo {
  max-width: 200px;
}

.BgImage {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url(../../../assets/factions/gaeli2.png);
  background-repeat: no-repeat;
  background-color: #d7d6d4;
}

.Description {
  position: absolute;
  width: 500px;
  right: 10%;
  bottom: 10%;
  background: white;
  padding: 1rem 3rem 5rem 3rem;
  border: 1px solid #05467e;
  opacity: 0.75;
}

h2.Title {
  text-align: center;
  color: #05467e;
}

.Lettrine p:first-of-type:first-letter {
  font-family: "Fantasy";
  font-size: 5rem;
  color: #05467e;
  padding: 5px 10px 5px 0px;
  margin-right: 5px;
  float: left;
}
