.Modal {
    position: fixed;
}

.Title {
    text-align: center;
}

.InitiativeScore {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.RollLife {
    display: flex;
    justify-content: center;
}

.Result {
    display: flex;
    justify-content: center;
}