.Site {
    display: grid;
    grid-template-rows: 60px 1fr;
    height: 100vh;
}

.Header {}

.Main {
    /* background-color: #EAEAEA;
    background-image: url('../../assets/ricepaper.jpeg');
    background-repeat: repeat;
    background-position: top left;
    background-attachment: scroll; */
}