.Logo {
  max-width: 200px;
  border-radius: 50%;
  min-height: 200px;
}

.Faction {
  display: flex;
  flex-direction: column;
}

.FactionItem a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.FactionItem {
  h2 {
    color: #363636;
  }

  &:hover {
    h2 {
      color: #D99A4E;
    }
  }
}