.Faction {
  position: relative;
}

.Logo {
  max-width: 200px;
}

.BgImage {
  height: 100vh;
  background-size: cover;
  background-position: "top";
}

.Description {
  position: absolute;
  width: 500px;
  right: 10%;
  bottom: 20%;
  background: white;
  padding: 1rem 3rem 5rem 3rem;
}

h2.Title {
  text-align: center;
}

.Lettrine p:first-of-type:first-letter {
  font-family: "Fantasy";
  font-size: 5rem;
  padding: 5px 10px 5px 0px;
  margin-right: 5px;
  float: left;
}

// Specific colors and position
.Faction.liches {
  .Description {
    border: 1px solid #c0a13b;
  }

  h2.Title {
    color: #c0a13b;
  }

  .Lettrine p:first-of-type:first-letter {
    color: #c0a13b;
  }
}

.Faction.sephosi {
  .Description {
    border: 1px solid #c00000;
    left: 10%;
  }

  h2.Title {
    color: #c00000;
  }

  .Lettrine p:first-of-type:first-letter {
    color: #c00000;
  }
}

.Faction.peaux-vertes {
  .Description {
    border: 1px solid #45742d;
  }

  h2.Title {
    color: #45742d;
  }

  .Lettrine p:first-of-type:first-letter {
    color: #45742d;
  }
}

.Faction.gaeli {
  .Description {
    border: 1px solid #05467e;
  }

  h2.Title {
    color: #05467e;
  }

  .Lettrine p:first-of-type:first-letter {
    color: #05467e;
  }
}
