.Header {
  align-items: center;
  display: flex;
  border-bottom: 1px solid grey;
  background-color: #191726;
  color: white;
  font-weight: 600;
}

.Logo,
.Logo img {
  height: 100%;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 10px;
}


.Header a:hover,
.Header a:active,
a.ActiveNavLink {
  color: #D99A4E;
}