.Reserve {
  // position: fixed;
  height: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid black;
  padding: 1rem;
  ;
}

.Hand {
  display: flex;
  flex-wrap: wrap;
  // overflow: scroll;
}

.Other {
  display: flex;
  background: white;
  padding: 1rem;
}