.CardSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.CardSelector > * {
  margin: 5px;
}

.CardSelector svg {
  cursor: pointer;
  width: 35px;
}
