.CardSelector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardSelector>* {
  margin: 5px;
}

.CardSelector svg {
  cursor: pointer;
  width: 35px;
}

svg:hover {
  fill: #24247a;
}