.GameInformation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  background-color: white;
  border: 1px solid grey;
  padding: 1rem;

  .Player {
    display: flex;
    align-items: center;

    input {
      width: 5rem;
      font-size: 1rem;
    }
  }

  .PlayerTop {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .PlayerBottom {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  .BlackHoleReserve {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .CommanderTable {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    font-size: 0.875rem;
  }

  .Deployment {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
  }

  .EndDeployment {
    // align-self: center;
  }

  .FactionPlayer {
    display: flex;
    align-items: center;

    img {
      margin-left: 1rem;
      max-width: 50px;
      border-radius: 50%;
    }
  }
}
