.GameInformation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  background-color: white;
  border: 1px solid grey;
  padding: 1rem;;

  .PlayerTop {
    display: flex;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 2 / 3;

    input {
      width: 5rem;
    }
  }

  .PlayerBottom {
    display: flex;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 4 / 5;

    input {
      width: 5rem;
    }
  }

  .BlackHoleReserve {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .OrdersTop {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .OrdersBottom {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
  }

  .EndDeployment {
    grid-column: 8 / 10;
    grid-row: 3 / 4;
    align-self: center;
  }

  .FactionPlayer {
    display: flex;
    align-items: center;

    img {
      max-width: 50px;
      ;
    }
  }
}