.ScreenGame {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.Board {
    grid-column: 1 / 8;
    grid-row: 1 / 7;

    display: grid;
    grid-template-columns: repeat(2, 100px) 6px repeat(3, 100px) 6px repeat(2, 100px);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem 1rem;
}

.PlayerTop {
    grid-column: 8 / 10;
    grid-row: 1 / 2;
}

.PlayerBottom {
    grid-column: 8 / 10;
    grid-row: 6 / 7;
}

.HandTop {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    margin-bottom: 10px;
    max-width: 70%;
    flex-wrap: wrap;
}

.OrdersTop {
    grid-column: 8 / 11;
    grid-row: 2 / 5;
}

.OrdersBottom {
    grid-column: 8 / 11;
    grid-row: 5 / 8;
}

.HandBottom {
    grid-column: 1 / 11;
    grid-row: 7 / 8;
    margin-top: 10px;
}

.Hand {
    display: flex;
}

.Card {
    height: 150px;
    width: 100px;
    margin-right: 1rem;
}

.EndDeployment {
    grid-column: 8 / 10;
    grid-row: 4 / 5;
}

.HiddenCard {
    height: 150px;
    width: 100px;
    margin-right: 1rem;
    border: 1px solid black;
}

.FactionPlayer {
    display: flex;
    align-items: center;

    img {
        max-width: 50px;
        ;
    }
}