$peaux-vertes-bg-color: #045204;
$peaux-vertes-name-color: white;
$peaux-vertes-bg-name-color: rgb(196, 28, 28);
$sephosi-bg-color: #963634;
$sephosi-name-color: #C00000;
$sephosi-bg-name-color: #ffff;
$gaeli-bg-color: #6D9CDA;
$gaeli-name-color: #ffff;
$gaeli-name-surline-color: #079804;
$gaeli-bg-name-color: #05467E;
$liches-bg-color: #E5D5A1;
$liches-name-color: #ffff;
$liches-bg-name-color: #c0a13b;

//1
// $dark-color: #446A5F;
// $secondary-color: #191726;
// $title-color: #5A525F;

//2
// $dark-color: #592C1C;
// $secondary-color: #D9A84E;
// $title-color: #6D96A6;

//3
// $dark-color: #082326;
// $secondary-color: #D9B166;
// $title-color: #A65D56;

// //4
// $dark-color: #3F598C;
// $secondary-color: #BFA3AA;
// $title-color: #0B1726;

//5
$dark-color: #5F734C;
$secondary-color: #D9D3C7;
$title-color: rgb(36, 116, 165);