:root {
  --peaux-vertes-bg-color: #045204;
  --peaux-vertes-name-color: white;
  --peaux-vertes-bg-name-color: rgb(196, 28, 28);
  --sephosi-bg-color: #963634;
  --sephosi-name-color: #C00000;
  --sephosi-bg-name-color: #ffff;
  --gaeli-bg-color: #6D9CDA;
  --gaeli-name-color: #ffff;
  --gaeli-name-surline-color: #079804;
  --gaeli-bg-name-color: #05467E;
  --liches-bg-color: #E5D5A1;
  --liches-name-color: #ffff;
  --liches-bg-name-color: #c0a13b;
}